/* hero */

.hero {
  background: url(/images/video-bg.png) center center / cover no-repeat;
  position: relative;
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/texture.png) center center / cover no-repeat;
    opacity: 0.6;
  }

  &-main {
    @include mix-flex($jc: space-between);

    @include desktop {
      margin-left: rem(20px);
    }

    @include tablets {
      flex-direction: column;
      text-align: center;
      justify-content: center; 
    }
  }

  &-bottom {
    @include mix-flex($jc: center);
    margin-bottom: rem(40px);
  }
}


.hero__description {
  max-width: 45%;

  @include desktop {
    max-width: 100%;
  }
  span {
    display: block;
    font-family: $Lifehack;
    color: $white;
    font-size: rem(65px);
    line-height: .9;
    letter-spacing: -1.6px;


    @include tablets {
      padding: 0 10%;
      text-align: center;
    }

    @include phones {
      padding: 0;
      font-size: rem(54px);
    }
  }
}

.hero__title {
    margin: rem(8px) auto rem(22px);
    
  @include phones {
    font-size: rem(54px);
  }
}

.hero-btns {
  display: flex;
  align-items: center;
}

