/* variables */

/* colors*/

$yellow: #f9b43b;
$white: #ffffff;
$orange: #e45028;
$light-orange: #e35028;
$black: #2f3234;
$dark-black: #1f2122;
$green: #0d9b2c;
$dark-grey: #3e3e3e;
$light-grey: #626262;

/* fonts */ 

$Gagalin: "Gagalin", Arial, sans-serif;
$Ubuntu: "Ubuntu", Arial, sans-serif;
$Lifehack: "Lifehack", Arial, sans-serif;

/* breakpoints */ 

$desktop: 1024px;
$tablets: 768px;
$phones: 480px;