/* variables */

/* colors*/

/* hero colors*/
$yellow: #f9b43b;
$white: #ffffff;
$orange: #e45028;
$black: #2f3234;

/* fonts */ 

$Gagalin: "Gagalin", Arial, sans-serif;
$Ubuntu: "Ubuntu", Arial, sans-serif;
$Lifehack: "Lifehack", Arial, sans-serif;