/* btn */

.btn {
  @include mix-btn ($white, $orange);
  display: block;
  height: 100%;
  width: 100%;
  font-family: $Ubuntu;
  font-weight: 500;
  line-height: rem(35px);
  height: rem(35px);
  cursor: pointer;

  &--red {
    width: rem(96px);
  }

  &--black {
    width: rem(110px);
    background-color: $black;

    @include phones {
      display: none;
    }

    &:hover {
      color: $white;
      background-color: $dark-black;
    }
  }

  &--phones{
    display: none;
    width: auto;

    @include phones {
      display: block;
    }
  }
}

.btn:active {
  border-color: none;
}