/* logo */

.logo {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all .2s;


  &:hover {
    transform: scale(.9);
    cursor: pointer;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}