/* main-burger */ 

.main-burger {
  margin-right: rem(12px);
  position: relative;
  width: 50%;
  margin-bottom: 10%;
  
  @include tablets {
    width: 80%;
    margin: 0;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}