/* pagination styles*/ 

.pagination {
  position: fixed;
  top: rem(80px);
  right: rem(46px);

  @include tablets {
    display: none;
  }

  &__item {
    width: rem(16px);
    height: rem(16px);
    margin-bottom: rem(5px);
  }

  &__link::before,
  &__link--active::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    border: rem(1px) solid $white;
  }
  
  &__link::before {
    width: rem(4px);
    height: rem(4px);
    background-color: $white;
  }

  &__link--active::after {
  width: rem(14px);
  height: rem(14px);
  top: rem(-5px);
  left: rem(-5px);
  }
}